[Unit]
Description=Gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
Environment=WORKDIR=/home/ubuntu/actions-runner/_work/G6Back/G6Back
WorkingDirectory=${WORKDIR}
ExecStart=${WORKDIR}/venv/bin/gunicorn bd.wsgi:application --config ${WORKDIR}/prod.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
